body{
    margin: auto;
    margin-top: 1rem;
    background-image:url("http://localhost/minecraft/Image/fondobg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.logo{
    background-image: url("http://localhost/minecraft/Image/minecraftlogo.png");
    display: flex;
    background-size: 18.2rem;
    background-position: center;
    background-repeat: no-repeat;
}
.principal{
    margin: auto;
    margin-top: 1rem;
    background-image: linear-gradient(180deg, #92caff41,#ffffff50);
    width: 98%;
    height: 98%;
    border-radius: .5em;
    box-shadow: 10px 10px 20px #021257a8;
    text-decoration: none;
}

.principal h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    font-weight:bold;
    color:#1f1f1f;
    font-weight: 900;
} 

img{
    width: 476px;
    height: 268px;
  }

article{
    background-color: white;
    text-align: center;
    border-radius: 5px;
} 

.Header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.Header a {
  text-decoration: none;
  color: #15302C;
}

.Footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer a {
  text-decoration: none;
  color: #15302C;
}

.mobs {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.mobs {
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;  
}

.mobs-card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 10px 10px 8px rgba(39,44,49,.03);
  background-color: white;
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
}

.mobs-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.mobs-card h2 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.mobs-card h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 20px;
}

.mobs-item {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 10px 10px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
  
}

.mobs-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.mobs-item h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.mobs-item a {
  text-decoration: none;
  color: #026C86;
}  

.principal a{
  color:#000000;
  margin: auto 2em;
  transition: 0.5s;
  text-shadow: 1px 1px 1px black;
  display: inline-block;
  text-decoration: none;
}

.principal a:hover{
  color: rgba(0, 26, 5, 0.925);
   background-color: #00ad17;
   transition: 1s;
   background-size: cover;
}
